.footer {
  width: 100%;
  min-height: 280px;
  background-color: $black-pearl;
}

.footer__container {
  margin: 0 auto;
  height: 100%;
  max-width: calc($desktop-width-only - 700px);
  padding: 51px 0;
  display: flex;
  flex-wrap: wrap;

  @media (max-width:$tablet-width) {
    padding: 50px;
    padding-bottom: 61px;
  }

  @media (max-width:$mobile-width) {
    padding: 35px 0;
    flex-direction: column;
    align-items: center;
  }
}

.footer__wrapper {
  &:not(:last-child) {
    margin-right: auto;

    @media (max-width: $mobile-width) {
      margin-right: 0;
    }
  }

  h3 {
    font-family: $roboto-condensed;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-white;
    user-select: none;

    margin: 0;
    margin-bottom: 20px;

    @media (max-width:$mobile-width) {
      margin: 21px 0;
    }
  }

  &--nav {
    padding-top: 6px;
    padding-left: 62px;

    @media (max-width:$tablet-width) {
      padding-left: 0;
      max-width: 220px;
    }

    @media (max-width:$mobile-width) {
      max-width: 100%;
    }
  }

  &--contacts {
    padding-top: 6px;
    transform: translateX(-38px);

    @media (max-width:$tablet-width) {
      transform: translateX(-12px);
    }

    @media (max-width:$mobile-width) {
      transform: none;
    }
  }
}
