.form {
  width: 100%;
  padding-top: 165px;
  padding-bottom: 249px;
  background: linear-gradient(139deg, rgba($black-pearl, 0.5) 0% 33.9%, $deep-sky-blue-accent 33.9% 100%);

  font-family: $pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @media (max-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 125px;
    background: none;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 88px;
  }
}

.form__container {
  max-width: calc($desktop-width-only - 600px);
  margin: 0 auto;
  padding: 0 50px;
  display: flex;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding: 0 25px;
  }

  form {
    @media (max-width: $tablet-width) {
      width: 100%;
    }
  }
}

.form__image {
  padding-top: 82px;
  margin-right: 120px;
  user-select: none;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.form__heading-wrapper {
  h2 {
    font-family: $roboto-condensed;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin: 0;
    margin-bottom: 12px;
    transform: translateX(-5px);

    @media (max-width: $tablet-width) {
      margin-bottom: 6px;
      transform: none;
    }

    @media (max-width: $mobile-width) {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 9px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 35px;

    @media (max-width: $tablet-width) {
      margin-bottom: 25px;
      padding-left: 0;
    }

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 32px;
    }
  }
}

.form__input-wrapper {
  display: grid;
  grid-template-areas:
    "username userphone"
    "question question"
    "button agreement";
  grid-template-columns: 1fr 1fr;
  max-width: 580px;
  column-gap: 30px;

  @media (max-width: $tablet-width) {
    width: 100%;
    max-width: calc($tablet-width - 100px);
  }

  @media (max-width: $mobile-width) {
    grid-template-areas:
      "username"
      "userphone"
      "question"
      "button"
      "agreement";
    grid-template-columns: 1fr;
  }
}

.form__input {
  & input:not([type="checkbox"]),
  & textarea {
    background-color: $black-pearl-faded;
    line-height: 22px;
    border: none;
    border-radius: 3px;
    color: $alice-blue;
    width: 100%;

    &::placeholder {
      color: $color-default-white;
    }

    &:hover,
    &:focus {
      outline: none;
      box-shadow: 2px -2px 5px $black-pearl;
    }

    &:active,
    &:focus-within {
      outline: none;
      background-color: rgba($black-pearl, 0.5);
    }
  }

  & input:not([type="checkbox"]) {
    padding: 15px;
    width: 100%;
  }

  & textarea {
    width: 100%;
    padding: 23px 15px 20px 15px;

    @media (max-width: $tablet-width) {
      padding: 29px 15px 17px 15px;
    }

    @media (max-width: $mobile-width) {
      padding-top: 25px;
      padding-bottom: 46px;
    }
  }

  &--username {
    grid-area: username;
    margin-bottom: 19px;

    @media (max-width: $tablet-width) {
      width: 100%;
      margin-bottom: 18px;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  &--userphone {
    grid-area: userphone;

    @media (max-width: $tablet-width) {
      width: 100%;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      margin-bottom: 18px;
    }
  }

  &--question {
    grid-area: question;
    margin-bottom: 36px;

    @media (max-width: $tablet-width) {
      margin-bottom: 32px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 28px;
    }
  }

  &--button {
    grid-area: button;
    font-family: $roboto-condensed;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: $black-pearl-accent;
    color: $color-default-white;
    border: none;
    border-radius: 3px;
    padding: 13px;
    margin-right: 10px;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      margin-right: 55px;
      padding-top: 16px;
      padding-bottom: 10px;
    }

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 25px;
    }

    &:hover,
    &:focus {
      background-color: $color-default-white;
      color: $black-pearl-accent;
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }

  &--agreement {
    grid-area: agreement;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
    padding-left: 12px;

    @media (max-width: $tablet-width) {
      padding-left: 0;
    }


    input {
      appearance: none;
      display: block;
      position: relative;
      width: 21px;
      height: 15px;
      margin-right: 10px;
      border: 1px solid $color-default-white;
      border-radius: 2px;
      cursor: pointer;

      @media (max-width: $tablet-width) {
        width: 18px;
      }

      @media (max-width: $mobile-width) {
        width: 19px;
      }

      &:checked {
        &::after {
          content: "";
        }
      }

      &::after {
        position: absolute;
        top: 13%;
        left: 12%;
        display: block;
        width: 7px;
        height: 5px;
        border: 1px solid $color-default-white;
        border-right: none;
        border-top: none;
        transform: rotate(-45deg);
      }
    }

    label {
      display: flex;
      align-items: center;
      padding-top: 13px;
      user-select: none;
      cursor: pointer;

      @media (max-width: $tablet-width) {
        padding-top: 8px;
      }

      @media (max-width: $mobile-width) {
        padding: 0;
        padding-left: 6px;
      }
    }

    &:hover,
    &:focus {
      color: rgba($black-pearl, 0.5);
    }

    &:active {
      opacity: 1;
    }
  }
}
