.header {
  width: 100%;
  min-height: 110px;
  background: linear-gradient(180deg, $black-pearl 85%, $black-pearl-transparent 100%);
  z-index: 1;
  position: fixed;

  @media (max-width: $tablet-width) {
    min-height: 100px;
  }

  @media (max-width: $mobile-width) {
    min-height: 70px;
  }
}

.header__container {
  margin: 0 auto;
  height: 100%;
  max-width: calc($desktop-width-only - 700px);
  padding-top: 10px;

  @media (max-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (max-width: $mobile-width) {
   padding: 0 26px;
  }
}
