.nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav__logo {
  align-self: center;
  padding-top: 6px;
  margin-right: auto;
  user-select: none;

  @media (max-width: $tablet-width) {
    margin-right: auto;
    padding-top: 10px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 5px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}

.nav__logo-picture {
  @media (max-width: $mobile-width) {
    width: 35px;
    height: 35px;
  }
}

.nav__list {
  margin: 0;
  align-self: center;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.nav__button {
  max-width: 160px;
  padding: 11px 16px;
  margin-right: 60px;
  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $whisper;
  border: 1px solid $whisper;
  border-radius: 3px;
  user-select: none;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    color: $deep-sky-blue-accent;
    border-color: $deep-sky-blue-accent;
  }

  &:active {
    opacity: 1;
  }
}
