.site-list {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 225px 225px;
  gap: 6%;

  @media (max-width: $desktop-width-only) {
    transform: translateX(-7px);
  }

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0;
  }
}

.site-list__item {
  @media (max-width: $tablet-width) {
    max-width: 225px;
  }
}

.site-list__link {
  padding: 28px 0;
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: $pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $whisper;

  @media (max-width: $tablet-width) {
    padding: 24px 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    color: $deep-sky-blue-accent;
  }

  &:active {
    opacity: 1;
  }

  p {
    margin: 0;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
