// Colors
// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
$deep-sky-blue: #00b2ff;
$deep-sky-blue-accent: #00b3ff;
$alice-blue: #f2f5f6;
$whisper: #ebebeb;
$black-pearl: #041827;
$black-pearl-accent: #041427;
$black-pearl-veil: rgba(3, 16, 27, 0.7);
$black-pearl-faded: rgba(4, 20, 39, 0.15);
$black-pearl-transparent: rgba(4, 24, 39, 0);

// Typography
//font-family

$pt-mono: "PT Mono", "Courier New", monospace;
$roboto-condensed: "Roboto Condensed", "Verdana", sans-serif;

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;


// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

// Viewports
// --------------------------------
// $vp-320: 320px;
// $vp-375: 375px;
// $vp-768: 768px;
// $vp-1024: 1024px;
// $vp-1280: 1280px;
// $vp-1440: 1440px;
// $vp-1920: 1920px;


$desktop-width-only: 1920px;
$desktop-width: 1919px;
$tablet-width: 1023px;
$mobile-width: 767px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
